<%- include('../common/header'); -%>
    <h1><%= title ? title : null %> Page</h1>
    <form action="/login" method="post">
        <input type="text" name="name" required>
        <input type="password" name="password" required>
        <button type="submit">Login</button>
    </form>
<%- include('../common/footer'); -%>
