<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Node File Upload</title>
  <!-- load boostrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
  <!-- load stylesheet -->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>
  <div class="container">
    <div class="fileuplod">
        <h1>File Upload Images</h1>
      <form action="/uploads" method="post" enctype="multipart/form-data">
        <label class="form-label" for="customFile">Default file input example</label>
        <input type="file" name="myImage" class="form-control" id="customFile" />
        <button type="submit" class="mt-4 btn btn-success">Submit</button>
      </form>
    </div>
  </div>

  <!-- load boostrap js -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>